@import url(/assets/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
a {
  text-decoration: none;
}
.bg {
  position: absolute;
  width: 100%;
  height: 400px;
  gap: 0px;
  border-radius: 0px 0px 0px 191.5px;
  opacity: 0px;
  z-index: -1;
  background-color: #f1f5fe;
  background-repeat: no-repeat;
}
.hero {
  background: url(img/pricing-logo.svg) no-repeat center;
  text-align: center;
  margin-inline: 25px;
}
.hero h1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 27.32px;
  padding-top: 89px;
  margin-bottom: 8px;
}
.hero p {
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  color: #848ead;
  padding-bottom: 64px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #7aeadf;
}
input:focus + .slider {
  box-shadow: 0 0 1px #7aeadf;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  background-color: #cfd8ef;
  border-radius: 15px;
}
.slider.round:before {
  border-radius: 50%;
}

.pageviews {
  text-align: center;
  margin: 0px 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px #7f89b927;
  margin-bottom: 88px;
}
.pageheader p {
  display: none;
}
.pageheader h3 {
  font-size: 12px;
  font-weight: 800;
  line-height: 16.39px;
  letter-spacing: 1.7142857313156128px;
  color: #848ead;
  padding-top: 34px;
  padding-bottom: 25px;
}

.inputrange p {
  font-size: 32px;
  font-weight: 800;
  line-height: 43.71px;
  letter-spacing: -0.800000011920929px;
  color: #293356;
}
.inputrange span {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: center;
  color: #848ead;
}
#pageViews {
  padding-top: 24px;
  padding-bottom: 34px;
}
.packselection {
  display: flex;
  justify-content: space-around;
  margin-left: 44px;
  margin-right: 11px;
  align-items: center;
  padding-bottom: 38px;
}
.packselection h5 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  color: #848ead;
}
.packselection span {
  padding: 2px 8px;
  border-radius: 9.5px;
  background-color: #feede8;
  color: #ff8d68;
}
.switch {
  width: 43px;
  height: 22px;
}
.buyingfeatures {
  border-top: 1px solid #ecf0fb;
}
.buyingfeatures p {
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  color: #848ead;
  margin-bottom: 11px;
}
.buyingfeatures i {
  color: #10d8c4;
  margin-right: 16px;
}

.buyingfeatures p:first-child {
  margin-top: 24px;
}
.buyingfeatures p:last-child {
  margin-bottom: 32px;
}
.buyingbtn {
  padding-bottom: 32px;
}
.buyingbtn a {
  display: inline-block;
  padding: 12px 46px;
  border-radius: 20.5px;
  background-color: #293356;
  color: #becdff;
  font-size: 12px;
  font-weight: 800;
  line-height: 16.39px;
}

@media only screen and (min-width: 1280px) {
  .bg {
    height: 440px;
  }
  .hero {
    background: url(img/pricing-logo.svg) no-repeat center;
    text-align: center;
  }
  .pageheader{
    margin-bottom: 24px;
  }
  .hero h1 {
    font-size: 28px;
    font-weight: 800;
    line-height: 38.25px;
    margin-bottom: 12px;
  }
  .hero br {
    display: none;
  }
  .hero p {
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    color: #848ead;
    padding-bottom: 92px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: #7aeadf;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #7aeadf;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    background-color: #cfd8ef;
    border-radius: 15px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  .pageviews {
    width: 570px;
    text-align: center;
    margin:0px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 20px 30px -5px #7f89b927;
    margin-bottom: 137px;
    
  }
  .pageheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:48px ;
    margin-left: 46px;
    padding-top: 40px;
  }
  .pageheader p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 54.64px;
    letter-spacing: -1px;
    color: #293356;
  }
  .pageheader span {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    color: #848ead;
  }
  .pageheader h3 {
    font-size: 14px;
    font-weight: 800;
    line-height: 19.12px;
    letter-spacing: 2px;
    color: #848ead;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .inputrange p {
    font-size: 40px;
    font-weight: 800;
    line-height: 54.64px;
    letter-spacing: -1px;
    color: #293356;
  }
  .inputrange span {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    color: #848ead;
  }
  #pricingmobile {
    display: none;
  }
  .packselection {
    display: flex;
    justify-content: space-between;
    margin-left: 154px;
    margin-right: 65px;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    gap: 16px;
  }
  .packselection h5 {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.39px;
    color: #848ead;
  }
  .packselection span {
    padding: 2px 8px;
    border-radius: 9.5px;
    background-color: #feede8;
    color: #ff8d68;
  }
  .switch {
    width: 43px;
    height: 22px;
  }
  .buyingfeatures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #ecf0fb;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 130px;
  }
  .featurestxt{
    text-align: left;
  }
  .buyingfeatures p {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.39px;
    color: #848ead;
    margin-bottom: 11px;
  }
  .buyingfeatures i {
    color: #10d8c4;
    margin-right: 16px;
  }

  .buyingfeatures p:first-child {
    margin-top: 0px;
  }
  .buyingfeatures p:last-child {
    margin-bottom: 0px;
  }
  .buyingbtn {
    padding-bottom: 0px;
  }
  .buyingbtn a {
    display: inline-block;
    padding: 12px 46px;
    border-radius: 20.5px;
    background-color: #293356;
    color: #becdff;
    font-size: 12px;
    font-weight: 800;
    line-height: 16.39px;
  }
  .buyingbtn a:hover{
    color:white;
  }
}
